* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Navigation */
header {
    background-color: #151515;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #f8f8f8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f5f5f5;
    padding-top: 60px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #151515;
    color: #fff;
    text-align: center;
    padding: 2rem 0;

    background-color: #151515;
    color: #fff;
    padding: 1rem 0;
    position: fixed; /* Mantiene el header fijo en la ventana */
    width: 100%; /* Ancho completo */
    bottom: 0; /* Alineado al fondo de la ventana */
    z-index: 100; /* Asegura que esté por encima de otros elementos */
}

/* Responsive */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    
    .hero h1 {
        font-size: 2rem;
    }
    
    .hero p {
        font-size: 1rem;
    }
}

